/* Colors: */

/* #FFF9DD - light yellow  */
/* #F8E9A1 - yellow        */

/* #FFEDED - faded red     */
/* #FFB7B7 - light red     */
/* #F76C6C - red           */

/* #A8D0E6 - light blue    */
/* #374785 - blue          */
/* #24305E - dark blue     */

body
{
   margin-top: 80px;
   font-family: Arial, Helvetica, sans-serif;
   background: #A8D0E6;
   color: #24305E;
}

#mainTitle
{
   display: block;
   margin-left: 5%;
   color: #FFF;
   font-size: 5em;
}

#failMessage
{
   display: inline;
   color: #F76C6C;
}

a[class="button"]
{
   display: inline;
   text-decoration: none;
}

.button
{
   display: inline;
   box-sizing: border-box;
   background: #F76C6C;
   border: none;
   color: #FFF9DD;
   padding: 10px 20px;
   font-size: 14px;
   font-weight: bold;
   outline: none;
}

.button:hover
{
   color: #374785;
   background: #FFF9DD;
}

.button2
{
   display: inline;
   box-sizing: border-box;
	background: none;
   border: none;
   color: #374785;
	padding: 0;
   margin: 10px 20px;
   font-size: 14px;
   font-weight: bold;
   outline: none;
}

.button2:hover
{
   color: #FFF9DD;
}

.btnContainer
{
   padding-top: 20px;
}

.btnContainer p
{
   display: inline;
   padding: 10px;
   margin: 0;
}

#forgotPass
{
   padding: 20px;
   color: inherit;
}

#loginBox
{
   display: block;
   box-sizing: border-box;
   background: url('../images/loginBox.png');
   background-size: cover;
   background-position: center;
   color: #24305E;
   width: 80%;
   margin: auto;
   margin-top: 40px;
   padding: 16px;
   border: #FFF 5px solid;
   border-radius: 20px;
}

.myForm
{
   box-sizing: border-box;
   padding: 20px;
   width: 50%;
}

.myForm .formGroup
{
   padding-bottom: 16px;
   width: 360px;;
}

.myForm label
{
   font-size: 20px;
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

.myForm input[type="text"], input[type="password"]
{
   color: #24305E;
   background: #FFF;
   box-sizing: border-box;
   display: block;
   border: #FFF9DD 2px inset;
   border-radius: 10px;
   margin: 0;
   padding: 2px 10px;
   width: 100%;
   font-size: 16px;
   outline: none;
}

.myForm input[type="text"]::placeholder, input[type="password"]::placeholder
{
   color: #A8D0E6;
}

.myForm a
{
   display: inline;
}

@media screen and (max-width: 1394px)
{
   #forgotPass
   {
      display: block;
      padding-left: 0;
   }
}

@media screen and (max-width: 1361px)
{
   #loginBox
   {
      background-size: contain;
      background-position: center;
   }
}

@media screen and (max-width: 1094px)
{
   .myForm .formGroup
   {
      width: 97%;
   }
}
@media screen and (max-width: 940px)
{
   .button, .btnContainer p
   {
      display: block;
   }
}
