/* Colors: */

/* #FFF9DD - light yellow  */
/* #F8E9A1 - yellow        */

/* #FFEDED - faded red     */
/* #FFB7B7 - light red     */
/* #F76C6C - red           */

/* #A8D0E6 - light blue    */
/* #374785 - blue          */
/* #24305E - dark blue     */

body
{
   margin-top: 80px;
   font-family: Arial, Helvetica, sans-serif;
   background: #A8D0E6;
   color: #24305E;
}

a[class="button"]
{
   display: inline;
   text-decoration: none;
}

#contactsTitle
{
   display: block;
   margin-left: 5%;
   font-size: 3em;
}

#userInterfaceDiv
{
   width: 85%;
   margin: auto;
   padding: 1px;
   border: #FFF 5px solid;
   background: #FFF;
   border-radius: 20px;
}

#contactButtonsBox
{
   padding: 16px;
   background: url('../images/loginBox.png');
   background-size: cover;
   border-radius: 15px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom: #FFF 6px solid;
}

#contactsBox
{
   padding: 16px;
   background: #FFF9DD;
   border-radius: 15px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.button
{
   display: inline;
   box-sizing: border-box;
   background: #F76C6C;
   border: none;
   color: #FFF9DD;
   padding: 10px 20px;
   font-size: 14px;
   font-weight: bold;
   outline: none;
}

.button:hover
{
   color: #374785;
   background: #FFF9DD;
}

.btnContainer .button:hover
{
   color: #FFF;
   background: #FFB7B7;
}

.button2
{
   display: inline;
   box-sizing: border-box;
	background: none;
   border: none;
   color: #374785;
	padding: 0;
   margin: 10px 20px;
   font-size: 14px;
   font-weight: bold;
   outline: none;
}

.button2:hover
{
   color: #A8D0E6;
}

#logoutBtn
{
	text-align: right;
	display: inline-block;
}


.btnContainer
{
   padding-bottom: 20px;
}

.btnContainer p
{
   display: inline;
   padding: 10px;
   margin: 0;
}

#formsDiv
{
   padding-left: 10px;
   border-bottom: 2px #F8E9A1 solid;
   display: block;
}

.myForm
{
   box-sizing: border-box;
}

.myForm .formGroup
{
   padding-bottom: 16px;
   width: 360px;;
}

.myForm label
{
   font-size: 20px;
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

.myForm select, input[type="text"], input[type="email"], input[type="tel"]
{
   color: #24305E;
   background: #FFF;
   box-sizing: border-box;
   display: block;
   border: #FFF9DD 2px inset;
   border-radius: 10px;
   margin: 0;
   padding: 2px 10px;
   width: 100%;
   font-size: 16px;
   outline: none;
}

.myForm select
{
   padding: 2px 6px;
}

.myForm input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder
{
   color: #A8D0E6;
}

.myForm a
{
   display: inline;
}

#searchForm .formGroup
{
   width: 100%;
}

#searchForm input[type="text"]
{
   width: 300px;
   display: inline-block;
}

#searchForm .btnContainer
{
   padding-left: 10px;
   display: inline;
}

#searchForm .button2
{
   margin: 10px 10px;
}


#contactsDisplay
{
   height: 500px;
   overflow: auto;
}

/* table */

#contactTable
{
   margin: auto;
   color: #24305E;
   border-collapse: collapse;
   width: 100%;
}

#contactTable tr:nth-child(even)
{
   background-color: #F8E9A1;
}

#contactTable tr:hover:not(#firstRow)
{
   background-color: #A8D0E6;
}

#contactTable tr.selected:not(#firstRow)
{
   background-color: #FFB7B7;
}

#contactTable tr.selected:hover:not(#firstRow)
{
   background-color: #FFEDED;
}

#contactTable th, #contactTable td
{
   padding-left: 10px;
}

#contactTable th
{
   height: 40px;
   text-align: left;
}

#contactTable td
{
   height: 30px;
}

/* table headers */

#contactTable th[name="lastname"]
{
   width: 15%;
}

#contactTable th[name="firstname"]
{
   width: 15%;
}

#contactTable th[name="email"]
{
   width: 20%;
}

#contactTable th[name="phone"]
{
   width: 15%;
}

#contactTable th[name="address"]
{
   width: 35%;
}

/* table data */

#contactTable td[name="lastname"]
{
   text-align: left;
}

#contactTable td[name="firstname"]
{
   text-align: left;
}

#contactTable td[name="email"]
{
   text-align: left;
}

#contactTable td[name="phone"]
{
   text-align: left;
   white-space: nowrap;
}

#contactTable td[name="address"]
{
   text-align: left;
}

::-webkit-scrollbar
{
   width: 6px;
   height: 6px;
}

::-webkit-scrollbar-corner
{
   background: inherit;
}

::-webkit-scrollbar-thumb
{
   background-color: #F76C6C;
   border-radius: 7px;
}

::-webkit-resizer
{
   background: #F76C6C;
}
